@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>LANDING HOME</h1>
<h1>BIENVENIDOS</h1>
<button class="btn btn-dark m-3 border border-2">RESERVAR TURNO</button>
