@model Cliente

<div class="container col-6 justify-content-evenly border border-1 border-primary rounded">
    
    <h1 class="text-center mt-4">INICIAR SESION</h1>  

    <form asp-action="BuscarCliente">

    <div class="form-group p-3">
        <label class="control-label">MAIL</label>
        <input asp-for=Email type="text" name="mail" class="col-12"/> 

    </div>

    <div class="form-group p-3">
        <label class="control-label">CONTRASEÑA</label>
        <input asp-for=Contrasenia type="password" name="contrasenia" class="col-12" />

    </div>

    <div class="form-group mt-4 mb-5 p-3">
        <input type="submit" value="INICIAR SESION" class="col-12 btn btn-outline-dark" /> 

    </div>

</form>

    <a class=" col-12 btn btn-primary " asp-action="CargarCliente">
     REGISTRARME 
    </a>


</div>
