@model Turno

<div class="container col-6 justify-content-evenly border border-1 border-primary rounded" >

    <h1>CARGAR TURNO</h1>

    <form asp-action="CargarTurnoPost">

        <div class="form-group">

            @*no agrego el Key xq era autonumerado*@
            <label class="control-label">SERVICIO</label>
            <input asp-for=idServicio type="text" value=@ViewBag.NombreServicio2 class="form-control" disabled />

        </div>

        <div class="form-group">

            @*no agrego el Key xq era autonumerado*@
            <label class="control-label">CLIENTE ID</label>
            <input asp-for=idCliente type="text" value=@TempData["IdCliente"] class="form-control" disabled />


        </div>
        <div class="form-group">

            @*no agrego el Key xq era autonumerado*@
            <label class="control-label">FECHA</label>
            <input asp-for="Fecha" class="form-control" /> @*nombro el input como el atributo de la clase. asp-for busca "Nombre"*@

        </div>

        <div class="form-group">

            <label class="control-label">PATENTE</label>
            <input asp-for="Patente" class="form-control" />

        </div>

        <div class="form-group m-3">

            <input type="submit" value="FINALIZAR" class="btn btn-outline-dark" /> @*es un tipo de boton especial que manda los datos del formulario*@

        </div>
    
    </form>

</div>